body {
  margin: 0px;
  font-family: "Muli", sans-serif;
  background: linear-gradient(#4158d0, #c850c0);
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 30px;
}
.header__menu {
  margin-right: 5rem;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0px;
}
.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__menu--profile p {
  margin-left: 1rem;
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(
    100vh - 200px
  );
}
.main__title {
  color: white;
  font-size: 25px;
  margin-block-start: 0;
  margin-block-end: 2rem;
}

.categories__title{
    color: white;
    font-size: 16px;
    padding-left: 8rem;
    padding-top: 5rem;
    width: 100%;
}
.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  width: 70%;
  padding: 0px 20px;
  outline: none;
}
::placeholder {
  color: white;
}
.login {
  background: linear-gradient(#4158d0, #c850c0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(
    100vh - 200px
  ); /*El valor minimo del alto de nuestra pantalla
vh=viewheight similar al %, es % a la vista del user, 200px para
darle mas espacio al login exeptuando al header y footer*/
}
.login__container {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /*transparencia
al nuestro formulario*/
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 50rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}
.login__container--social-media > div > i {
  margin-right: 10px;
}
.login__container--registro {
  font-size: 14px;
}
.login__container--registro a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.login__container--registro a:hover {
  text-decoration: underline;
}
.login__container--form-input {
  background-color: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-bottom: 20px; /*Separa los 2 inputs*/
  padding: 0px 20px;
  outline: none; /*Quita la seleccion azul al hacer clic*/
  height: 50px;
}
.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.footer__login {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #c850c0;
}
.footer__login a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer__login a:hover {
  text-decoration: underline;
}
.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: transparent;
  }
  .footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

.carrusel{
    width: 100%;
    overflow: scroll;
    padding-left: 30px;
    position: relative; /*todos los elementos dentro de el se
    van a posicionar a este que es el componente padre*/
}
.carrusel__container{
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    white-space: nowrap; /*para no "envolver"
    Si no la colocamos las imagenes se van una abajo de otro
    y como es carrusel no debe ser asi*/
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carrusel-item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block; /*por defecto es display:block; por
    lo que no podremos poner uno al lado de otro, por eso en linea*/
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    -webkit-transform-origin: center left;
    position: relative;
}
.carrusel-item:hover ~ .carrusel-item{
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}
.carrusel__container:hover .carrusel-item{
    opacity: 0.3;
}
.carrusel__container:hover .carrusel-item:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}
.carrusel-carrusel-item__imagen{
    width: 200px;
    height: 250px;
    object-fit: cover; /*Recupera tamaño original
    de la imagen*/
    -o-object-fit: cover;
}
.carrusel-item__detalles{
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity; /*cuando seleccionamos el item va a crear
    el gradiente con la transicion*/
    padding: 10px; /*para no dejar muy junto el texto*/
    position: absolute; /*porque el contenedor tiene
    una relativa*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.carrusel-item__detalles--imagen{
    width: 20px;
}
.carrusel-item:hover .carrusel-item__detalles{
    opacity: 1;
}
.carrusel-item__detalles--title{
    color: white;
    margin: 5px 0px 0px 0px;
}
.carrusel-item__detalles--subtitle{
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}
